@font-face {

  font-family: Raleway;
  src:url('https://fonts.googleapis.com/css?family=Raleway');
}
*{
	margin:0;
	padding:0;
	box-sizing:
}

ul li{
	list-style:none;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:2.2em;
}
#menu{
  font-family:Raleway;
  position: fixed;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:750px;
}
.nav li{
	width:145px;
	height:180px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:190px;
}
.nav li.hm:hover{
	border-bottom:4px solid #3E0100;
}
.nav li.fb:hover{
	border-bottom:4px solid #5D0100;
}
.nav li.gp:hover{
	border-bottom:4px solid #780100;
}
.nav li.tw:hover{
	border-bottom:4px solid #940100;
}
.nav li.cl:hover{
	border-bottom:4px solid #B90200;
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:14px;
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
	padding-top:20px;
}
.hm{
	background:#A00200;
}
.fb{
	background:#940100;
}
.gp{
	background:#780100;
}
.tw{
	background:#5D0100;
}
.cl{
	background:#3E0100;
}
